body {
  color: white;
}

header {
  text-align: center;
  color: white;
  width: 100%;
  height: 70px;
  padding-top: 10px;
  margin: 0;
  background: #002eaf;
}

input {
  width: 100%;
}

.card {
  padding: 1%;
  background: #0d6efdd1;
  color: white;
}

.hide {
  display: none;
}

#search-button {
  width: 100%;
}